body {
	width: 94%;
	margin: 0 auto;
}

/*Blog/Timeline*/

textarea.blog-post {
	height: 210px;
}

h3.panel-title {
	font-weight: bold;
	color: #337ab7;
	font-size:1.6em;
	padding-bottom: 10px;
}

p.timeline {
	border: 1px solid #ddd;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 5px;
}

.no-posts {
	color: grey;
}

/*Navigation*/

#greeting {
	padding: 15px 10px;
}

.nav-tabs>li {
	border: 1px solid #ddd;
	border-bottom: 0px;
}

.nav-tabs>li:first-child {
	border-top-left-radius: 5px;
}

.nav-tabs>li:nth-child(n+2){
	border-left: 0px;
}

.nav-tabs>li:last-child {
	border-top-right-radius: 5px;
	border-left: 0px;
}

.nav-tabs>li:nth-last-child(n+3){
	padding: 10px 5px;
}

/*Profile*/

.profile {
	margin: 0 0 1em 3em;
	font-size: 1.2em;
}

#edit-profile {
	margin: 0 0 1.5em 2.5em;
}